@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

$textfont-comic: "Bangers", cursive;
$textfont-comic2: "Patrick Hand", cursive;
$textfont-prof: "Comfortaa", cursive;
$color-font-dark: black;
$color-font-light: white;
$color-lightest: #e6e9f0;
$color-lighter: #c2dde6;
$color-light: #bccbde;
$color-dark: #431c5d;
$color-bright: #e05915;
$color-brighter: #cdd422;
